{% extends "layout.html" %}
{% block content %}
<!-- posts.items bcoz it is a paginate object -->
    {% for post in posts.items %}
        <article class="media content-section">
          <!-- bcoz author was a back reference to the user -->
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{  }}</a>
              <small class="text-muted">{{  }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{  }}</a></h2>
            <p class="article-content">{{  }}</p>
          </div>
        </article>
    {% endfor %}

    
      {% endif %}
    {% endfor %}
{% endblock content %}  <!-- Jinja2 allows us to specify the name of the block also -->